<div class="container-fluid p-5">
    <h3 class="text-center">Task Details</h3>
    <div class="container-fluid ">
    <form class=" w-50 mx-auto p-4 border rounded" style="background-color: rgb(23, 225, 222);">
        <!-- <div class="form-group ">
            <label for="taskId">Task ID</label>
            <input type="text" id="taskId" class="form-control" ><br>
        </div> -->
        <div class="form-group ">

            <label for="desc">Description</label>
            <input type="text" [(ngModel)]="Task_Description" [ngModelOptions]="{standalone: true}" id="Task_Description" class="form-control">
        </div>
        <div class="form-group ">
            <label for="assignedTo">Assigned To</label>
            <input type="text" id="Assigned_To" [(ngModel)]="Assigned_To" [ngModelOptions]="{standalone: true}" class="form-control">
        </div>
        <div class="form-group ">
            <label for="dueDate">Due Date</label>
            <input type="date" id="Due_Date" [(ngModel)]="Due_Date" [ngModelOptions]="{standalone: true}" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary mt-4" (click)="save()">Save</button>
    </form>
</div>
</div>


